body{
  font-family: 'Nunito Sans', sans-serif;
box-sizing:border-box;
margin:0px;
color:#333;
}

.nav-container {
display:flex;
align-items:center;
justify-content:space-between;


}
.container {
max-width: 1200px;
margin:auto;
}

.section-container {
color:#333;
margin:auto;
margin-top:200px;
margin-bottom: 120px;
}

.im-grant{
font-size:32px;
text-transform: uppercase;
font-weight:800;
letter-spacing:2px
}

h1 {

font-size:142px;
line-height:142px;

}

h2 {
}

nav ul {
display:flex;
flex-direction: row;
list-style: none;
text-decoration:none;
}

nav > div {

max-width: 1440px;
margin:auto;
padding-top: 24px;
padding-bottom:24px; }


a {
    text-decoration: none!important;
    color: #333;
padding: 8px;

  }
a:hover {text-decoration: underline !important;
transition: 0.3s;}

nav {
text-decoration:none;
position:fixed;
width:100%;
z-index:1000000;
background-color: #fff;
margin-top:0px;
top:0;
/* THIS IS THE DROP SHADOW
filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
*/
Border-bottom: 2px solid #ccc;

}

.title-1 {

font-family: 'Nunito Sans', sans-serif;
color: #333;
margin-top: 16px;
margin-bottom:16px;
}

.title-2{

font-size:40px;
font-family: 'Nunito Sans', sans-serif;
color: #333;
margin-top: 16px;
margin-bottom:16px;
}

button {
display:flex;
justify-content:center;
align-items:center;
width: 300px;
height: 56px;
margin-top:56px;

background: #054820;
/* Button Shadow */

box-shadow: 0px 4px 11px rgba(2, 37, 10, 0.35);
border-radius: 4px;
border:none;
color: white;
font-weight: 300;
font-size: 16px;
line-height: 19px;
transition: 0.3s;
}

button:hover {
background: #02250A;
transition: 0.3s;
}


.scroll-down nav {
transform: translate3d(0, -100%, 0);
transition:.3s}

.scroll-up nav {

transition: .3s}





.text_and_button {
display:flex;
align-items:center;
justify-content:space-between;
}

#myprofileIMG {
width:500px;
height:500px;

}

.myWorkTitle {
text-align:center;
font-size:32px;
}

#workImage {
width:50%;
height:50%;

}

@media only screen and (max-width: 1200px) {
.container {
margin-left: 24px;
margin-right: 24px;
}
}